{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{% static 'assets/alertifyjs/alertify.js' %}"></script>

<!-- include the style -->
<link rel="stylesheet" href=" {% static 'assets/alertifyjs/css/alertify.css' %} "/>
<!-- include a theme -->
<link rel="stylesheet" href="{% static 'assets/alertifyjs/css/themes/default.css' %} "/>


<script>

    $(document).ready(function () {
        var msg='{{ msg }}';
        if (msg!=="") {
            alertify.set('notifier', 'position', 'top-right');
            alertify.message('{{msg| safe}}');
        }
    });
</script>